html,
body {
  padding: 0rem;
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to top, rgb(62, 245, 236), rgb(234, 250, 16));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: black;
}
